@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');


body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  /* font: 400 15px/1.8 "Lato", sans-serif; */
  font-family: 'D-DIN', sans-serif;
  color: #ffffff;
  font-size: 18px;
}


.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4 {
  width: 100%;
  /* opacity: 0.65; */
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url("/images/front-blur.png");
  /* min-height: 100%; */
  display: flex;
}

.left{
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 135px;
  position: fixed;
}
.right{
  width: 50%;
  height: 100vh;
}
h1{
  border-bottom: 2px solid red;
  width: 44%;
  margin: 0;
}
.johnnette-text{
  width: 80%;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}


.bgimg-2 {
  background-image: url("/images/front-clear.png");
  display: flex;
}
.left1{
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 135px;
}
.jf-2-heading{
  width: 50px;
  margin: 0;
  border-bottom: 2px solid red;
  font-family: 'Oswald';
}
.johnnette-text1{
  width: 80%;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}

.bgimg-3 {
  background-image: url("/images/front-blur.png");
  height: 100vh;
}
.bgimg-4 {
  background-image: url("/images/final-girl.png");
  height: 100vh;
}
/* .bgimg-2 {
  width: 100%;
  position: relative;
}

.bgimg-2::before {
  content: "";
  background-image: url("/images/front-clear.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.left1 {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 135px;
  position: fixed; 
  z-index: 1;
} */

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1,
  .bgimg-2,
  .bgimg-3,
  .bgimg-4 {
    background-attachment: scroll;
  }
}