@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: black;
  font-size: 18px;
}

.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4 {
  width: 100%;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.bgimg-1 {
  background-image: url("/images/girl-1.webp");
  display: flex;
}

.left1{
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 135px;
  position: fixed;
}

.right{
  width: 50%;
  height: 100vh;
}

h1{
  border-bottom: 2px solid red;
  width: 14%;
  margin: 0;
  position: fixed;
  top: 36vh;
  left: 136px;
  font-family: 'Oswald', sans-serif;
  z-index: 500;
}
 
.johnnette-text{
  width: 80%;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}

/******************************** second bgimg css starts form here **************************/

.bgimg-2 {
  background-image: url("/images/girl-2.webp");
  display: flex;
}

.left2{
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 135px;
}

.jf-2-heading{
  padding-top: 25px;
  width: 50px;
  margin: 0;
  border-bottom: 2px solid red;
  font-family: 'Oswald';
}

.johnnette-text1{
  width: 80%;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}

/********************************* second bgimg css ends here ********************************/

/********************************* third bgimg css starts from here **************************/
.bgimg-3 {
  background-image: url("/images/girl-3.webp");
  display: flex;
}
.left3{
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 135px;
}

/********************************* third bgimg css ends here **************************/
.bgimg-4 {
  background-image: url("/images/girl-4.webp");
  height: 100vh;
  z-index: 445454645465;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1,
  .bgimg-2,
  .bgimg-3,
  .bgimg-4 {
    background-attachment: scroll;
  }
}